<html>
	<body>
		<div style="height:100%;width:100%;background-color:#F2F2F2;font-family:Arial;font-size:15px">
			<div style="padding-left:10px;padding-top:10px;height:30px;width:100%;background-color:#5DB2FF;color:#FFFFFF;font-size:20px;">
				<b>Famhook</b>
			</div>
			<div style="margin-top:10px;margin-left:20px;height:400px;width:100%">
				<div style="height:300px;width:600px;border:1px solid #B4B4B4">
					<div style="padding-left:10px">Hi <span style="text-transform: capitalize">{firstname}</span>,</div>				
					<div style="margin-top:15px;padding-left:10px">{bodymessage}</div>
					<div style="margin-top:5px;padding-left:10px"><a href="{actionlink}">Click to activate</a></div>
					<div style="margin-top:100px;padding-left:10px">Regards,</div>
					<div style="padding-left:10px">Famhook Family</div>
					<div style="height:50px"></div>
					<div align="right" style="padding-right:10px"><a href="#">Terms & Conditions</a> | <a href="#">Privacy Policy</a></div>
				</div>	
			</div>				
		</div>
	</body>
</html>